.sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  color: white;
  background-color: #556F44;
  padding-left: 25px;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0px;
}

.sidebar {
  font-size:20px;
  line-height: 2;
}

.sidebar a {
  color: white;
  text-decoration: none;
}
